<html>
<head>
	<title>Cadmus</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">

</head>

<body>

	<div style="background:#36D7B7" class="jumbotron">
  		<h1 class="display-3">Hi, I'm Cadmus!</h1>
  		<p class="lead">I'm a text analyser.</p>
	</div>

	<div class="form-actions">
		<form method="post" action="/process">
			<div class="form-group">
				<input type="text" class="form-control" name="words" placeholder="URL to article">
	    	</div>

			<div class="form-group">
				<input type="number" class="form-control" name="count" placeholder="Number of sentences in summary">
	    	</div>

	        <button class="btn btn btn-primary" type="submit">Summarize</button>
		</form>
	</div>

	<h4>Overall Sentiment: {{sentiment}}</h4>
	<h4>Summary:</h4>
	{% for sentence in summary %}
		<p>{{sentence}}</p>
	{% endfor %}

</body>

</html>